@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="coffee-section">
    <div class="coffee-card">
        @*<div class="coffee-intro">
            <div class="coffee-intro-amount">
            25K/ly
            </div>
        </div>
        <div class="coffee-intro">
            <div class="coffee-intro-title">Đồng giá</div>
            <div class="coffee-intro-amount-1">
                25K
            </div>
        </div>*@
        @*<img class="coffee-img" src="https://caphemuoi.com.vn/wp-content/uploads/2023/01/6.png" style="opacity: 0.5;top: 22px;position: absolute;" />*@
        <img class="coffee-img" src="~/imgs/coffee-muoi-1.png" alt="coffee-muoi" />

    </div>

    <div class="coffee-intro-discription">
        Ở đây tôi bán Muối tặng Cà phê
    </div>

    <button class="coffee-order-btn" type="button">Order Now</button>
</section>

<div class="king-popup" id="form-order-popup">
    <div class="king-popup-content">
        <div class="king-popup-header">
            <div class="king-popup-header-title">Your information</div>
            <div class="king-popup-header-close">x</div>
        </div>
        <div class="king-popup-body">
            <div class="king-popup-form">
                <div class="king-input-group">
                    <label class="king-hoang-label" for="fullname">Họ và tên:</label>
                    <input class="king-hoang-input" name="fullname" id="fullname" type="text" />
                </div>
                <div class="king-row">
                    <div class="king-input-group king-col">
                        <label class="king-hoang-label" for="phoneNumber">Số điện thoại:</label>
                        <input class="king-hoang-input" name="phoneNumber" id="phoneNumber" type="text" />
                    </div>
                    <div class="king-input-group king-col">
                        <label class="king-hoang-label" for="receivedDate">Ngày nhận:</label>
                        <input class="king-hoang-input" name="receivedDate" id="receivedDate" type="date" />
                    </div>
                </div>
                <div class="king-input-group">
                    <label class="king-hoang-label" for="address">Địa chỉ:</label>
                    <input class="king-hoang-input" name="address" id="address" type="text" />
                </div>
                <div class="king-input-group">
                    <label class="king-hoang-label" for="remark">Lời nhắn:</label>
                    <textarea class="king-hoang-textarea" name="remark" id="remark" type="text" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="king-popup-footer">
            <button class="coffee-submit-btn" type="button">Submit</button>
            @*<button class="coffee-cancel-btn" type="button">Cancel</button>*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //alert('jo');
    </script>
}