@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="coffee-section">
    <div class="coffee-card">
        @*<h5 class="coffee-title">Cà Phê Muối</h5>*@
        <img class="coffee-img" src="https://caphemuoi.com.vn/wp-content/uploads/2023/01/6.png" />
        <button class="coffee-order-btn" type="button">Order Now</button>
    </div>
</section>