@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="coffee-section" hidden>
    <div class="coffee-card">
        @*<h5 class="coffee-title">Cà Phê Muối</h5>*@
        <img class="coffee-img" src="https://caphemuoi.com.vn/wp-content/uploads/2023/01/6.png" />
        <button class="coffee-order-btn" type="button">Order Now</button>
    </div>
</section>

<div class="king-popup">
    <div class="king-popup-content">
        <div class="king-popup-header">
            <div class="king-popup-header-title">Your information</div>
            <div class="king-popup-header-close">x</div>
        </div>
        <div class="king-popup-body">
            <div class="king-popup-form">
                <div class="king-input-group">
                    <label class="king-hoang-label" for="fullname">Fullname</label>
                    <input class="king-hoang-input" name="fullname" id="fullname" type="text" />
                </div>
                <div class="king-input-group">
                    <label class="king-hoang-label" for="phoneNumber">Phone number</label>
                    <input class="king-hoang-input" name="phoneNumber" id="phoneNumber" type="number" />
                </div>
                <div class="king-input-group">
                    <label class="king-hoang-label" for="address">Address</label>
                    <input class="king-hoang-input" name="address" id="address" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>