@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
}

.king-page {
  font-size: 14px;
  max-width: 375px;
  margin: 0 auto;
}
.king-page .king-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.king-page .king-header .king-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 345px;
  padding: 8px 15px 0;
  margin: 0 auto;
  background-color: #002b1a;
}
.king-page .king-header .king-navbar .king-brand-name {
  text-transform: uppercase;
  font-size: 13px;
  color: #ebd97e;
}
.king-page .king-header .king-navbar .king-brand-coffee {
  font-family: "Comforter", cursive;
  font-size: 42px;
  color: #ebd97e;
}
.king-page .king-header .king-navbar .king-brand {
  position: relative;
  padding-top: 30px;
  /*background-image: url('../imgs/crown-vector.jpg');*/
}
.king-page .king-header .king-navbar .king-brand .king-crown {
  width: 80px;
  position: absolute;
  top: -3px;
  left: -3px;
}
.king-page .king-body {
  margin-top: 67px;
}
.king-page .king-body .coffee-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.king-page .king-body .coffee-card::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 11px;
  width: 16px;
  height: 10px;
  background-color: #4d5f22;
  border-radius: 50%;
}
.king-page .king-body .coffee-card::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 11px;
  height: 9px;
  background-color: #012c1b;
  border-radius: 50%;
}
.king-page .king-body .coffee-card .coffee-img {
  width: 100%;
  padding-top: 10px;
  background-color: #002b1a;
}
.king-page .king-body .coffee-card .coffee-order-btn {
  background-color: #002b1a;
  color: #fff;
  padding: 6px 8px;
  border-radius: 25px;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  min-width: 200px;
  margin-top: 15px;
  cursor: pointer;
}

.king-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.king-popup .king-popup-content {
  padding: 15px;
}
.king-popup .king-popup-content .king-popup-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
.king-popup .king-popup-content .king-popup-header .king-popup-header-title {
  font-family: "Comforter", cursive;
}
.king-popup .king-popup-content .king-popup-header .king-popup-header-close {
  display: none;
  position: absolute;
  top: -30px;
  right: 0;
}
.king-popup .king-popup-content .king-popup-body {
  margin-top: 15px;
  border: 1px solid #ddd;
}
