/*@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Mukta', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

.king-page {
    font-size: 14px;
    max-width: 375px;
    margin: 0 auto;

    .king-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        .king-navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 345px;
            padding: 8px 15px 0;
            margin: 0 auto;
            background-color: #002b1a;

            .king-brand-name {
                text-transform: uppercase;
                color: #ebd97e;
                font-size: 11px;
                font-family: 'Montserrat', sans-serif;
                /*font-size: 13px;
                font-family: 'Mukta', sans-serif;*/
            }

            .king-brand-coffee {
                font-family: 'Comforter', cursive;
                font-size: 42px;
                color: #ebd97e;
            }

            .king-brand {
                position: relative;
                padding-top: 30px;
                /*background-image: url('../imgs/crown-vector.jpg');*/

                .king-crown {
                    width: 80px;
                    position: absolute;
                    /*top: -3px;
                    left: -3px;*/
                    top: -4px;
                    left: -2px;
                }
            }
        }
    }

    .king-body {
        margin-top: 67px;

        .coffee-card {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 11px;
                width: 16px;
                height: 10px;
                background-color: #4d5f22;
                border-radius: 50%;
            }

            &::after {
                content: "";
                position: absolute;
                top: 14px;
                left: 14px;
                width: 11px;
                height: 9px;
                background-color: #012c1b;
                border-radius: 50%;
            }

            .coffee-img {
                width: 100%;
                padding-top: 10px;
                background-color: #002b1a;
            }

            .coffee-order-btn {
                background-color: #053b25;
                color: #fff;
                padding: 8px;
                border-radius: 25px;
                font-size: 22px;
                text-transform: uppercase;
                border: none;
                min-width: 200px;
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }

    .king-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 5px;

        .king-email {
            color: #002b1a;
        }
    }
}

.king-popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    z-index: 2;

    .king-popup-content {
        max-width: 345px;
        margin: auto;
        background-color: #fff;
        padding: 10px 15px 15px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0px 8px 15px 0px rgb(0 0 0);

        .king-popup-header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 48px;

            .king-popup-header-title {
                color: #002b1a;
                font-family: 'Comforter', cursive;
            }

            .king-popup-header-close {
                display: none;
                position: absolute;
                top: -30px;
                right: 0;
            }
        }

        .king-popup-body {
            .king-input-group {
                display: flex;
                flex-direction: column;

                .king-hoang-label {
                    font-size: 16px;
                    padding-left: 5px;
                }

                .king-hoang-input {
                    width: auto;
                    height: 38px;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    margin-bottom: 10px;
                    font-size: 16px;
                    padding: 0 10px;
                }

                .king-hoang-textarea {
                    width: auto;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    margin-bottom: 10px;
                    font-size: 16px;
                    padding: 10px;
                }
            }
        }

        .king-popup-footer {
            text-align: center;

            .coffee-submit-btn {
                background-color: #053b25;
                color: #fff;
                padding: 8px;
                border-radius: 25px;
                font-size: 22px;
                text-transform: uppercase;
                border: none;
                min-width: 165px;
                margin-top: 15px;
                cursor: pointer;
            }

            .coffee-cancel-btn {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                border: none;
                font-size: 16px;
                text-decoration: underline;
                color: #053b25;
                background-color: transparent;
                padding: 15px;
            }
        }
    }

    &.popup-show {
        display: block;
        bottom: 0;
        animation: king-popup-show 0.6s ease-in-out;
    }

    &.popup-hide {
        display: block;
        bottom: -100%;
        animation: king-popup-hide 0.4s linear;
    }

    @keyframes king-popup-show {
        from {
            bottom: -100%;
        }

        to {
            bottom: 0;
        }
    }

    @keyframes king-popup-hide {
        from {
            bottom: 0;
        }

        to {
            bottom: -100%;
        }
    }
}

.popup-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    opacity: 0.3;
    z-index: 1;
}